<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actividad 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actividad 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Actividad 3 - Creación de una aplicación Ionic con funciones nativas</h2>
    <p>
      Con esta aplicación podrás tomar fotos y conocer la localización donde han sido tomadas.
    </p>

    <div class="buttonContainer">
      <ion-button (click)="navigateToCamera()">
        Camera
      </ion-button>
  
      <ion-button (click)="navigateToWIP()">
        WIP
      </ion-button>
    </div>
    

  </div>

  
</ion-content>
